.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 14px;
}

.form-field {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 0;
}
